.searchCards {
    border-radius: 25px;
}

.form-select {
    border-radius: 25px;
}

.go-button {
    border-radius: 25px;
    background-color: #008F45;
    border: none;
}

.go-button:hover {
    background-color: #00A94F;
}

.col-md-8 {
    border-radius: 25px;
}